body, html {
    margin: 0;
    border-radius: 12px;
    background-color: #292929;
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-y: auto;
}

span {
    font-weight: 700;
    color: #f09819;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.righteous {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    border-bottom: 1px solid #5d5d5d;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title {
    margin: 0;
    padding: 0;
}

.logo {
    height: 15px;
    width: 15px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height: 300px;
    width: 400px;
}

.initial-message-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.instructions {
    font-size: medium;
}

.loading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.loading-circle {
    border: 4px solid #f09819;
    border-top: 4px solid #292929;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

.ai-res-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 20px;
}

.choices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.soul-meter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.soul-meter {
    width: 200px;
    height: 30px;
    border: 2px solid #505050;
    border-radius: 15px;
    overflow: hidden;
    background-color: #424242;
}

.soul-fill {
    width: 100%;
    height: 100%;
    background-color: #f09819;
    border-radius: 15px;
    transition: width 0.5s ease-in-out;
}

#reset {
    padding: 5px 10px;
}

#output {
    font-size: xx-large;
    font-weight: 700;
    color: #f09819;
    margin: 0;
}

#scan-again-btn {
    padding: 10px;
    margin-top: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Button CSS from https://getcssscan.com/css-buttons-examples */
.button-87 {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button-87:active {
    transform: scale(0.95);
}

.button-87-dark {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #424242;
    background-image: linear-gradient(45deg, #bfb8b7 0%, #645f59be 51%, #17130f 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-87-dark:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button-87-dark:active {
    transform: scale(0.95);
}